.gm-style-iw.gm-style-iw-c, 
.gm-style-iw-d {
    width: 40vw; 
    height: 36vh;
    max-height: 50vh;
 
}

.info-window{
     text-align: center; 
     background: #aadaff;
     padding: 10px;
     margin: 0 6px 0px 0;  
 }

 .info-window img {
     padding-top: 25px; 
     padding-bottom: 10px; 
 }

 .info-window h3 {
     color: #27567f;
     font-weight: 200; 
 }

 .info-window__sun-details:first-child::after{
    content: "|"; 
    padding: 0 10px;;
 }